<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Page</title>
    <style>
        body{
            background-color: rgb(193, 211, 31);
        }
        h1{
            font-size: 30px;
            font-family: Bell MT;
        }
        h3{
            font-family: Vladimir Script;
            font-size: 25px;
        }
        
    </style>
</head>
<body>
    <h1>awww welcome! yes members only here</h1>
    <h3><a href="/">back 2 home</a></h3>
</body>
</html>